@import 'helper/normalize';
@import 'helper/colors';

*, *::before, *::after{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    font-size: 14px;
}
.abar_admin_links{
    position: fixed;
    left: 20px;
    bottom: 20px;
    a{
        background-color: #fff;
        display: inline-block;
        padding: 13px;
        border-radius: 6px;
        margin-right: 10px;
        border: 1px solid #efefef;
        transition: background .4s ease;
        svg{
            width: 25px;
            display: inline-block;
            vertical-align: middle;
        }
        &:last-of-type{
            margin-right: 0;
        }
        &:hover{
            background-color: #efefef;
        }
    }
}

.cm-header, .cm-footer{
    margin: 20px;
    padding: 20px;
    color: #B0B0B0;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border: 2px dashed #EAEAEA;
}