@import 'helper/normalize';
@import 'helper/fonts';
@import 'helper/colors';

*, *::before, *::after{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    font-size: 14px;
}
.abar_admin_links{
    position: fixed;
    left: 20px;
    bottom: 20px;
    a{
        background-color: #fff;
        display: inline-block;
        padding: 13px;
        border-radius: 6px;
        margin-right: 10px;
        border: 1px solid #efefef;
        transition: background .4s ease;
        svg{
            width: 25px;
            display: inline-block;
            vertical-align: middle;
        }
        &:last-of-type{
            margin-right: 0;
        }
        &:hover{
            background-color: #efefef;
        }
    }
}

.header{
    padding: 10px 0;
    display: flex;
    border-bottom: 1px solid #efefef;
    .logo{
        a.logo__link{
            display: inline-block;
            color: $primary_color;
            text-decoration: none;
            font-weight: 900;
            font-size: 1.4em;
            margin-bottom: 5px;
        }
        p.logo__description{
            color: #000;
            margin: 0;
            font-size: 1em;
        }
    }
}